* {
  box-sizing: border-box;
}

#div1 {
  padding-left: 16px;
}
body {
  background-color: #131720;
  font-family: sans-serif;
}

h3 {
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #131720;
  padding: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; /*Top Right*/
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.topnav a:hover {
  color: red;
  transition: all 0.15s;
}

.topnav .search-container {
  float: right; /* search container is displayed at the far right*/
}

form {
  background-color: #151f30;
  width: 300px;
  height: 43px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}

input {
  all: unset;
  font: 15px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
}

.thumbnail {
  height: 50%;
  width: 50%;
  border-radius: 19px;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.card {
  border-radius: 19px;
  padding: 15px;
  text-align: center;
  background-color: #151f30;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 1280px) {
  .thumbnail {
    transform: scale(0.7);
    height: 50%;
    width: 50%;
  }
  h3 {
    font-size: medium;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
}

/*Media queries - for responsiveness*/
@media (max-width: 455px) {
  h3 {
    font-size: small;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  h3 {
    font-size: smaller;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
}
